@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  font-family: "Inter", sans-serif;
}
a {
  color: #3b82f6;
}

.main-container {
  margin: 0 auto;
}
.slider-spacing .slick-slide {
  padding-right: 10px;
}
@media (max-width: 768px) {
  .slider-spacing .slick-track {
    margin-left: 0;
  }
  
  .slider-spacing .slick-list {
    overflow: visible !important;
    padding-right: 20% !important; /* This shows part of the next slide */
  }
}